<mat-card fxLayout="column" fxLayoutAlign="center center" class="text-center">
  <mat-card-header>
    <mat-card-title>Current Training: {{currentExercise}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
    <h1>Progress: {{progress}}</h1>
    <p *ngIf="progress < 100; else congrats">Keep on going!!</p>
    <ng-template #congrats>
      <p>training completed!!</p>
    </ng-template>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onStop()">Stop</button>
  </mat-card-actions>
</mat-card>
