:host, mat-sidenav-container, mat-sidenav {
  height: 100%;
}

:host {
  display: flex;
  flex-direction: column;
}

.main-content {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 250px;
  max-width: 90vw;
}