a {
    text-decoration: none;
    color: white;

    &:hover {
        color: lightgrey;
    }

    cursor: pointer;
}

.menu-button {
    position: absolute !important;
    left: 10px;
    top: auto;
}

.divider {
    height: 90%;
    width: 2px;
}