<mat-toolbar color="primary" class="relative">
  <button
    fxHide.gt-xs
    mat-icon-button
    class="menu-button"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span fxHide.lt-sm fxLayout.lt-sm="row" fxLayoutAlign.lt-sm="center">
    <a routerLink="/">Logo</a>
  </span>
  <ul
    fxHide.lt-sm
    fxFlex
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="flex-end"
    class="mx-2"
  >
    <ng-container *ngIf="isAuth$ | async; else notAuthenticated">
      <li>
        <a routerLink="/training" routerLinkActive="router-link-active">Training</a>
      </li>
      <li>
        <span class="cursor-pointer" (click)="logout()">Logout</span>
      </li>
    </ng-container>
    <ng-template #notAuthenticated>
      <li>
        <a routerLink="/signup" routerLinkActive="router-link-active">Signup</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="router-link-active">Login</a>
      </li>
    </ng-template>
  </ul>
  <mat-divider [vertical]=true [inset]="true" class="divider"></mat-divider>
  <span fxLayout="row" fxLayoutAlign="flex-end center" class="mx-4">
    <span class="mx-2">Light</span>
    <mat-slide-toggle [checked]="(theme$ | async) === darkThemeType" (change)="themeToggle($event)"></mat-slide-toggle>
    <span class="mx-2">Dark</span>
  </span>
</mat-toolbar>
